.fixedmenu  {

}
.fixedmenu a {
				font-family: TradeWinds-Regular;
				src: url("TradeWinds-Regular.ttf") ;
				font-size: 1em;
				text-decoration: none;
				color: #FFF;

}
.fixedmenu a:hover  { 
					background: rgba(157, 4, 229, 0.2);
					color: #FFF;
}

.fixedmenu a:link  {
					text-decoration: none;

}
.fixedmenu a:active {
					text-decoration: underline; 
}
.imagen {
	text-align: center;

}
body {	
		font-size: 30px;
		color: #808000;

		
		background: url("../img/hacha1.jpg") no-repeat left  fixed,
		url("../img/hacha.jpg") no-repeat right  fixed #000;
		background-size: 50% 100%;
	

}
blockquote {
	font-size: 1,5em;
	text-align: justify;
} 
p {
	font-size: 1em;
	text-align: center; }

h3 {
	font-size: 1em;
}
.widget h3 {
	font-size: 1em;
	text-align: right; 
}
.widget ul {
	font-size: 0.75em;
	
}
.socialmedia {
	text-align: right; 
}

