* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

body {
  width: 100%;
  font-size: 30px;
  color: #3cb371;
  background: url("../img/fondo.jpg") no-repeat center center fixed;
  background-size: cover; }

header {
  width: 100%;
  margin: 0px 0px 20px 0px;
  background: rgba(0, 0, 0, 0.8); }

header .fixedmenu {
  font-family: "Trade Winds";
  font-size: 1em;
  display: flex;
  flex-direction: row;
  justify-content: flex-end; }
  header .fixedmenu a {
    list-style: none;
    padding: 0px 15px;
    text-decoration: none;
    color: #FFF; }
    header .fixedmenu a:hover {
      background: rgba(91, 15, 255, 0.5);
      color: #FFF; }
    header .fixedmenu a:link {
      text-decoration: none; }
    header .fixedmenu a:active {
      text-decoration: underline; }

section {
  width: 80%;
  margin: auto;
  background: rgba(0, 0, 0, 0.8);
  padding: 30px; }
  section .intro {
    background: none;
    margin: 25px;
    padding: 20px 20px;
    border: 1px solid #FFF;
    border-radius: 10px; }
    section .intro h1 {
      font-size: 2em;
      text-align: center;
      font-family: "IM Fell DW Pica SC"; }
    section .intro h2 {
      font-size: 1.5em;
      text-align: center;
      font-family: "IM Fell DW Pica SC"; }
    section .intro blockquote {
      font-size: 1, 5em;
      display: inline-block;
      text-align: justify;
      font-family: "IM Fell DW Pica SC"; }
      section .intro blockquote::first-letter {
        font-size: 1.5em; }
  section .imagen {
    width: 70%;
    border: 5px groove #FFF;
    margin: 0px auto;
    background: #000; }
    section .imagen img {
      width: 100%;
      vertical-align: top;
      opacity: 0.5;
      transition: all 1s ease; }
      section .imagen img:hover {
        opacity: 1; }
  section p {
    font-size: 1em;
    text-align: center;
    font-family: "IM Fell DW Pica SC"; }
    section p::first-letter {
      font-size: 1.5em; }
  section .photos {
    width: 100%;
    margin: 10px auto;
    background: rgba(0, 0, 0, 0.5);
    font-size: 1em;
    padding: 0px;
    border: 1px solid #FFF;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end; }
    section .photos .kingdoms {
      width: 30%;
      list-style: none;
      margin: 15px;
      padding: 0px;
      display: flex;
      flex-wrap: wrap;
      flex-grow: 1;
      font-weight: bold;
      margin: 0;
      padding: 10px;
      position: relative; }
      section .photos .kingdoms img {
        width: 100%; }
      section .photos .kingdoms .crop-image {
        height: 300px;
        margin: 10px;
        overflow: hidden;
        border: solid white;
        opacity: 0.5;
        transition: all 1s ease; }
        section .photos .kingdoms .crop-image:hover {
          opacity: 1; }
      section .photos .kingdoms span {
        position: absolute;
        color: white;
        bottom: 35px;
        left: 30px;
        font-size: 0.5em; }

footer {
  width: 100%;
  background: #000;
  opacity: 0.8;
  border: 3px solid grey;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap; }
  footer .autor {
    width: 70%;
    margin-top: 70px; }
    footer .autor p {
      font-size: 0.8em;
      padding-left: 20px; }
  footer .logo {
    width: 30%;
    text-align: right; }
    footer .logo p {
      font-size: 0.8em;
      text-align: center; }
    footer .logo .socialmedia {
      display: flex;
      flex-direction: row;
      justify-content: space-between; }
      footer .logo .socialmedia a {
        justify-content: space-between;
        color: #fff;
        margin: 10px;
        padding: 15px;
        border: 1px transparent white;
        border-radius: 5px; }
      footer .logo .socialmedia .wikipedia {
        color: #636466; }
        footer .logo .socialmedia .wikipedia:hover {
          background: #c7c8ca; }
      footer .logo .socialmedia .facebook:hover {
        background: #3b5998; }
      footer .logo .socialmedia .google {
        color: #fbbc05; }
        footer .logo .socialmedia .google:hover {
          background: #ea4335; }

@media screen and (max-width: 800px) {
  body {
    width: 100%; }

  header {
    width: 100%; }

  .fixedmenu {
    width: 100%;
    padding: 20px;
    flex-direction: column;
    align-items: center; }

  .main {
    width: 100%; }

  .photos {
    width: 100%;
    display: flex;
    flex-flow: column; }

  .kingdoms {
    width: 100% !important; }

  footer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center; }

  .autor {
    order: 2; }

  .logo {
    order: 1;
    margin-bottom: 20px; }

  .socialmedia {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center; } }

/*# sourceMappingURL=index.css.map */
