@ font-face{
font-family: 'Trade Winds', Arial, Helvetica;
src: url('fonts/TradeWinds-Regular.ttf');
}
@ font-face{
font-family: 'IM Fell DW Pica SC', Arial, Helvetica;
src: url('fonts/IMFellDWPicaSC-Regular.ttf');
}